<div class="header-bar">
    <!-- <div class="row">
        <div class="col-3">
            <p>Cleaver Fox</p>
        </div>
        <div class="col-9">
            <button mat-mini-fab>
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </div> -->
    <div class="col-3">
        <p>Cleaver Fox</p>
    </div>
    <div class="col-9">
        <button mat-icon-button>
            <img src="../../../assets/Logo/man.png" alt="">
        </button>
    </div>
</div>